<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.backend.persistence.mapper.ShopEnterMapper">
  <resultMap id="BaseResultMap" type="com.xq.live.backend.persistence.beans.ShopEnter">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="business_cate" jdbcType="VARCHAR" property="businessCate" />
    <result column="license_pic" jdbcType="VARCHAR" property="licensePic" />
    <result column="health_pic" jdbcType="VARCHAR" property="healthPic" />
    <result column="door_pic" jdbcType="VARCHAR" property="doorPic" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="status" jdbcType="INTEGER" property="status"/>
    <result column="location_x" jdbcType="DECIMAL" property="locationX"/>
    <result column="location_y" jdbcType="DECIMAL" property="locationY"/>
    <result column="city" jdbcType="VARCHAR" property="city"/>

    <result column="logo_pic" jdbcType="VARCHAR" property="logoPic" />
    <result column="shop_hours" jdbcType="VARCHAR" property="shopHours" />
    <result column="other_service" jdbcType="VARCHAR" property="otherService" />

  </resultMap>

  <sql id="Base_Column_List">
    id, user_name, mobile, shop_name, address, business_cate, license_pic, health_pic,
    door_pic, create_time, update_time, user_id,status,location_x,location_y,city,logo_pic,
    shop_hours,other_service
  </sql>

  <select id="selectByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from shop_enter
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from shop_enter
    where id = #{id,jdbcType=BIGINT}
  </select>

  <update id="updateById" parameterType="com.xq.live.backend.business.vo.ShopEnterVO">
    update shop_enter
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null">
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="businessCate != null">
        business_cate = #{businessCate,jdbcType=VARCHAR},
      </if>
      <if test="licensePic != null">
        license_pic = #{licensePic,jdbcType=VARCHAR},
      </if>
      <if test="healthPic != null">
        health_pic = #{healthPic,jdbcType=VARCHAR},
      </if>
      <if test="doorPic != null">
        door_pic = #{doorPic,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="locationX != null">
        location_x = #{locationX,jdbcType=DECIMAL},
      </if>
      <if test="locationY != null">
        location_y = #{locationY,jdbcType=DECIMAL},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="logoPic != null">
        logo_pic = #{logoPic,jdbcType=VARCHAR},
      </if>
      <if test="shopHours != null">
        shop_hours = #{shopHours,jdbcType=VARCHAR},
      </if>
      <if test="otherService != null">
        other_service = #{otherService,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>
