<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.backend.persistence.mapper.ShopMapper">
    <resultMap id="BaseResultMap" type="com.xq.live.backend.persistence.beans.Shop">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="shop_name" jdbcType="VARCHAR" property="shopName"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="index_url" jdbcType="VARCHAR" property="indexUrl"/>
        <result column="logo_url" jdbcType="VARCHAR" property="logoUrl"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="shop_info" jdbcType="VARCHAR" property="shopInfo"/>
        <result column="location_x" jdbcType="DECIMAL" property="locationX"/>
        <result column="location_y" jdbcType="DECIMAL" property="locationY"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="pop_num" jdbcType="INTEGER" property="popNum"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="shop_status" jdbcType="INTEGER" property="shopStatus"/>
        <result column="apply_status" jdbcType="INTEGER" property="applyStatus"/>
        <result column="business_cate" jdbcType="VARCHAR" property="businessCate"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>

        <result column="shop_hours" jdbcType="VARCHAR" property="shopHours"/>
        <result column="other_service" jdbcType="VARCHAR" property="otherService"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, shop_name, address, mobile, phone, index_url, logo_url,city, shop_info, location_x, location_y,
        is_deleted, pop_num, remark, create_time, update_time,shop_status,apply_status,business_cate,user_id
        ,shop_hours ,other_service
    </sql>
    <!--查询商家信息-->
    <select id="findPageBreakByCondition" parameterType="com.xq.live.backend.business.vo.ShopConditionVO" resultMap="BaseResultMap">
        SELECT
        s.*
        FROM
        shop s
        WHERE
        1 = 1
        AND s.is_deleted !=1
        <if test="keywords != null and keywords != '' ">
            AND
            (
            s.shop_name LIKE CONCAT('%',#{keywords , jdbcType=VARCHAR},'%') or
            s.mobile  LIKE CONCAT('%',#{keywords , jdbcType=VARCHAR},'%') or
            s.address LIKE CONCAT('%',#{keywords , jdbcType=VARCHAR},'%') or
            s.phone LIKE CONCAT('%',#{keywords , jdbcType=VARCHAR},'%') or
            s.business_cate LIKE CONCAT('%',#{keywords , jdbcType=VARCHAR},'%')
            )
        </if>
        <!-- 查询用户信息 -->
        <if test="shopBo != null">
            <if test="shopBo.id!=null">
                AND s.id = #{shop.id}
            </if>
            <if test="shopBo.isDeleted!=null">
                AND s.is_deleted = #{shop.isDeleted}
            </if>
            <if test="shopBo.createTime!=null">
                AND s.create_time = #{shop.createTime}
            </if>
            <if test="shopBo.shopStatus!=null">
                AND s.shop_status = #{shop.shopStatus}
            </if>
            <if test="shopBo.applyStatus!=null">
                AND s.apply_status = #{shop.applyStatus}
            </if>
            <if test="shopBo.updateTime!=null">
                AND s.update_time = #{shop.updateTime}
            </if>
        </if>
        GROUP BY
        s.id
        ORDER BY
        s.create_time DESC
    </select>

    <insert id="insertShop" parameterType="com.xq.live.backend.persistence.beans.Shop">
        insert into shop (shop_name, address,
        mobile, phone, index_url,logo_url,
        shop_info, location_x, location_y,
        remark, create_time,
        update_time,business_cate,shop_code,shop_hours,other_service,city)
        values (#{shopName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
        #{mobile,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{indexUrl,jdbcType=VARCHAR}, #{logoUrl,jdbcType=VARCHAR},
        #{shopInfo,jdbcType=VARCHAR}, #{locationX,jdbcType=DECIMAL}, #{locationY,jdbcType=DECIMAL},
        #{remark,jdbcType=VARCHAR}, now(), now(), #{businessCate,jdbcType=VARCHAR},#{shopCode,jdbcType=VARCHAR},#{shopHours,jdbcType=VARCHAR},#{otherService,jdbcType=VARCHAR}
        ,#{city,jdbcType=VARCHAR})
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
    </insert>
    <!--END-->
</mapper>
