<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.backend.persistence.mapper.SoMapper">
    <resultMap id="BaseResultMap" type="com.xq.live.backend.persistence.beans.So">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="so_amount" jdbcType="DECIMAL" property="soAmount"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="shop_id" jdbcType="BIGINT" property="shopId"/>
        <result column="pay_type" jdbcType="TINYINT" property="payType"/>
        <result column="so_status" jdbcType="TINYINT" property="soStatus"/>
        <result column="so_type" jdbcType="TINYINT" property="soType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="paid_time" jdbcType="TIMESTAMP" property="paidTime"/>
        <result column="hx_time" jdbcType="TIMESTAMP" property="hxTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_dui" jdbcType="TINYINT" property="isDui"/>
        <result column="shop_name" jdbcType="VARCHAR" property="shopName"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, so_amount, user_id, user_name, shop_id,pay_type, so_status, so_type, create_time, update_time,is_dui
    </sql>

    <select id="findPageBreakByCondition" parameterType="com.xq.live.backend.business.vo.SoConditionVO" resultMap="BaseResultMap">
        SELECT
        s.*,
        sp.shop_name
        FROM
        so s
        left join shop sp on s.shop_id = sp.id
        WHERE
        1 = 1
        <if test="keywords != null and keywords != '' ">
            AND
            (
            s.so_amount LIKE CONCAT('%',#{keywords , jdbcType=VARCHAR},'%') or
            s.user_name  LIKE CONCAT('%',#{keywords , jdbcType=VARCHAR},'%') or
            )
        </if>
        <!-- 查询用户信息 -->
        <if test="so != null">
            <if test="so.id!=null">
                AND s.id = #{so.id}
            </if>
            <if test="so.userId!=null">
                AND s.user_id = #{so.userId}
            </if>
            <if test="so.createTime!=null">
                AND s.create_time = #{so.createTime}
            </if>
            <if test="so.updateTime!=null">
                AND s.update_time = #{so.updateTime}
            </if>
            <if test="so.shopId!=null">
                and s.shop_id = #{so.shopId}
            </if>
            <if test="so.soStatus!=null">
                and s.so_status = #{so.soStatus}
            </if>
            <if test="so.soType!=null">
                and s.so_Type = #{so.soType}
            </if>
            <if test="so.isDui!=null">
                and s.is_dui = #{so.isDui}
            </if>
        </if>
        <if test="beginTime !=null and endTime != null">
            and (s.create_time BETWEEN #{beginTime} and #{endTime})
        </if>
        GROUP BY
        s.id
        ORDER BY
        s.id DESC
    </select>

</mapper>
