<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.backend.persistence.mapper.SoMapper">
    <resultMap id="BaseResultMap" type="com.xq.live.backend.persistence.beans.So">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="so_amount" jdbcType="DECIMAL" property="soAmount"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="shop_id" jdbcType="BIGINT" property="shopId"/>
        <result column="pay_type" jdbcType="TINYINT" property="payType"/>
        <result column="so_status" jdbcType="TINYINT" property="soStatus"/>
        <result column="so_type" jdbcType="TINYINT" property="soType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="paid_time" jdbcType="TIMESTAMP" property="paidTime"/>
        <result column="hx_time" jdbcType="TIMESTAMP" property="hxTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_dui" jdbcType="TINYINT" property="isDui"/>
        <result column="shop_name" jdbcType="VARCHAR" property="shopName"/>

        <result column="sku_id" jdbcType="BIGINT" property="skuId"/>
        <result column="sell_price" jdbcType="DECIMAL" property="sellPrice"/>
        <result column="payment_method" jdbcType="INTEGER" property="paymentMethod"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, so_amount, user_id, user_name, shop_id,pay_type, so_status, so_type, create_time, update_time,is_dui
    </sql>

    <select id="findPageBreakByCondition" parameterType="com.xq.live.backend.business.vo.SoConditionVO" resultMap="BaseResultMap">
        SELECT
        s.*,
        sp.shop_name
        FROM
        so s
        left join shop sp on s.shop_id = sp.id
        WHERE
        1 = 1
        <!-- 查询用户信息 -->
            <if test="keywords != null and keywords != '' ">
                AND
                (
                s.so_amount LIKE CONCAT('%',#{keywords , jdbcType=VARCHAR},'%') or
                s.user_name  LIKE CONCAT('%',#{keywords , jdbcType=VARCHAR},'%') or
                )
            </if>
            <if test="id!=null">
                AND s.id = #{id}
            </if>
            <if test="userId!=null">
                AND s.user_id = #{userId}
            </if>
            <if test="createTime!=null">
                AND s.create_time = #{createTime}
            </if>
            <if test="updateTime!=null">
                AND s.update_time = #{updateTime}
            </if>
            <if test="shopId!=null">
                and s.shop_id = #{shopId}
            </if>
            <if test="soStatus!=null">
                and s.so_status = #{soStatus}
            </if>
            <if test="soType!=null">
                and s.so_Type = #{soType}
            </if>
            <if test="isDui!=null">
                and s.is_dui = #{isDui}
            </if>
            <if test="beginTime !=null and endTime != null">
                and (s.create_time BETWEEN #{beginTime} and #{endTime})
            </if>
        GROUP BY
        s.id
        ORDER BY
        s.id DESC
    </select>

    <!--查询商家一段时间内的订单和服务费信息-->
    <select id="findSoForShop" parameterType="com.xq.live.backend.business.vo.SoConditionVO" resultMap="BaseResultMap">
        SELECT
        s.id ,
        s.so_amount,
        s.user_name ,
        s.so_status ,
        s.so_type ,
        s.paid_time ,
        s.is_dui ,
        s.shop_id ,
        sd.sku_id ,
        sk.sell_price,
        al.payment_method
        FROM
        so s
        LEFT JOIN so_shop_log sd ON s.id = sd.so_id
        LEFT JOIN sku sk ON sd.sku_id = sk.id
        LEFT JOIN shop_allocation al ON  sd.shop_id = al.shop_id
        WHERE
        sd.operate_type = 2
        AND
        sd.shop_id=#{shopId,jdbcType=BIGINT}
        <if test="beginTime !=null and endTime != null">
            and (s.create_time BETWEEN #{beginTime} and #{endTime})
        </if>
        ORDER BY
        s.id DESC
    </select>

    <!--批量修改符合条件订单的对账状态-->
    <update id="updateBySO" parameterType="java.util.List">
        update so
        set
        is_dui =1
        WHERE
        id IN
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>


</mapper>
