<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.backend.persistence.mapper.SoShopLogMapper">
  <resultMap id="BaseResultMap" type="com.xq.live.backend.persistence.beans.SoShopLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="so_id" jdbcType="BIGINT" property="soId" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="operate_type" jdbcType="INTEGER" property="operateType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="user_ip" jdbcType="VARCHAR" property="userIp" />
  </resultMap>
  <sql id="Base_Column_List">
    id, so_id, shop_id, sku_id, user_id, user_name, operate_type, create_time, user_ip
  </sql>

</mapper>
