<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.backend.persistence.mapper.SoWriteOffMapper">
    <resultMap id="BaseResultMap" type="com.xq.live.backend.persistence.beans.SoWriteOff">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="so_id" jdbcType="BIGINT" property="soId"/>
        <result column="shop_id" jdbcType="BIGINT" property="shopId"/><!--重复，别名-->
        <result column="shop_name" jdbcType="VARCHAR" property="shopName"/>
        <result column="shop_amount" jdbcType="DECIMAL" property="shopAmount"/>
        <result column="coupon_id" jdbcType="BIGINT" property="couponId"/>
        <result column="coupon_code" jdbcType="VARCHAR" property="couponCode"/>
        <result column="sku_id" jdbcType="BIGINT" property="skuId"/>
        <result column="coupon_amount" jdbcType="DECIMAL" property="couponAmount"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="cashier_id" jdbcType="BIGINT" property="cashierId"/>
        <result column="cashier_name" jdbcType="VARCHAR" property="cashierName"/>
        <result column="paid_amount" jdbcType="DECIMAL" property="paidAmount"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_bill" jdbcType="INTEGER" property="isBill"/>

       <!-- <result column="sell_price" jdbcType="DECIMAL" property="sellPrice"/>
        <result column="so_type" jdbcType="TINYINT" property="soType"/>
        <result column="so_amount" jdbcType="DECIMAL" property="soAmount"/>-->

        <association property="so" javaType="com.xq.live.backend.persistence.beans.So">
            <result column="shop_id" jdbcType="BIGINT" property="shopId"/><!--重复，别名-->
            <result column="sku_id" jdbcType="BIGINT" property="skuId"/>
            <result column="sell_price" jdbcType="DECIMAL" property="sellPrice"/>
            <result column="so_type" jdbcType="TINYINT" property="soType"/>
            <result column="so_amount" jdbcType="DECIMAL" property="soAmount"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
    id, so_id, shop_id, shop_name, shop_amount, coupon_id, coupon_code, sku_id, coupon_amount,
    user_id, user_name, cashier_id, cashier_name, paid_amount, create_time, update_time,is_bill
  </sql>

    <select id="selectofflist" parameterType="com.xq.live.backend.business.vo.SoWriteOffInVo" resultMap="BaseResultMap">
        SELECT
        woff.so_id ,
        s.so_amount,
        s.so_type ,
        s.shop_id,
        woff.shop_id,
        woff.sku_id,
        woff.user_name,
        woff.user_id ,
        woff.shop_amount ,
        woff.paid_amount ,
        woff.shop_name ,
        woff.coupon_code ,
        woff.coupon_amount ,
        woff.cashier_name ,
        woff.is_bill ,
        sk.sell_price
        FROM
        so_write_off woff
        LEFT JOIN so s ON woff.so_id=s.id
        LEFT JOIN sku sk ON woff.sku_id = sk.id
        WHERE
        woff.shop_id=#{shopId,jdbcType=BIGINT}
        <if test="beginTime !=null and endTime != null">
            and (woff.create_time BETWEEN #{beginTime} and #{endTime})
        </if>
        ORDER BY
        woff.id DESC
    </select>

    <!--批量修改符合条件订单的对账状态(适用版，通过shopid和时间段批量修改)-->
    <update id="updateByShopId" parameterType="com.xq.live.backend.business.vo.SoWriteOffInVo">
        UPDATE so_write_off woff
        LEFT JOIN so s ON woff.so_id=s.id
        LEFT JOIN sku sk ON woff.sku_id = sk.id
        SET woff.is_bill=1
        WHERE
        woff.shop_id=35
        <if test="beginTime !=null and endTime != null">
            and (woff.create_time BETWEEN #{beginTime} and #{endTime})
        </if>
    </update>
</mapper>
