<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.backend.persistence.mapper.TopicMapper">
  <resultMap id="BaseResultMap" type="com.xq.live.backend.persistence.beans.Topic">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="home_pic" jdbcType="VARCHAR" property="homePic" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="pic_ids" jdbcType="VARCHAR" property="picIds" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="tp_status" jdbcType="INTEGER" property="tpStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="hit_num" jdbcType="INTEGER" property="hitNum" />
    <result column="topic_type" jdbcType="INTEGER" property="topicType"/>
    <result column="trans_num" jdbcType="INTEGER" property="transNum" />

    <result column="act_id" jdbcType="BIGINT" property="actId" />
    <result column="act_name" jdbcType="VARCHAR" property="actName" />
  </resultMap>

  <sql id="Base_Column_List">
    id, title, summary, home_pic, content, create_time, user_id, user_name, update_time,
    is_deleted, tp_status, nick_name, pic_ids, hit_num,topic_type,trans_num
  </sql>

  <!--按条件查询一段时间内的视频文章-->
  <select id="topiclist" parameterType="com.xq.live.backend.business.vo.TopicConditionVO" resultMap="BaseResultMap">
    select
    t.id,
    t.title,
    t.summary,
    t.home_pic,
    t.content,
    t.create_time,
    t.user_id,
    t.user_name,
    t.update_time,
    t.is_deleted,
    t.tp_status,
    t.nick_name,
    t.pic_ids,
    t.hit_num,
    t.topic_type,
    t.trans_num,
    act.act_id,
    info.act_name
    from topic t
    inner join user u on t.user_id = u.id
    inner join act_topic act on act.topic_id = t.id
    inner join act_info info on info.id= act.act_id
    <where>
      1=1
      <if test="id != null">
        and t.id =#{id}
      </if>
      <if test="keywords != null and keywords != '' ">
        AND
        (
        t.title like concat('%',#{keywords , jdbcType=VARCHAR}, '%') or
        t.content like concat('%',#{keywords , jdbcType=VARCHAR}, '%') or
        t.summary like concat('%',#{keywords , jdbcType=VARCHAR}, '%') or
        t.user_name like concat('%',#{keywords , jdbcType=VARCHAR}, '%') or
        t.nick_name like concat('%',#{keywords , jdbcType=VARCHAR}, '%')
        )
      </if>
      <if test="topicType != null">
        and t.topic_type = #{topicType}
      </if>
      <if test="choiceType != null">
        and u.user_type = #{choiceType}
      </if>
      <if test="beginTime !=null and endTime != null">
        and (t.create_time BETWEEN #{beginTime} and #{endTime})
      </if>
      <if test="tpStatus != null">
        and t.tp_status = #{tpStatus}
      </if>
      and t.is_deleted = 0
    </where>
  </select>

  <!--通过id修改状态-->
  <update id="updateById" parameterType="com.xq.live.backend.business.vo.TopicConditionVO">
    update topic
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="picIds != null">
        pic_ids = #{picIds,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="tpStatus != null">
        tp_status = #{tpStatus,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
        update_time = now(),
      <if test="hitNum != null">
        hit_num = #{hitNum,jdbcType=INTEGER},
      </if>
      <if test="topicType != null">
        topic_type = #{topicType,jdbcType=INTEGER},
      </if>
      <if test="transNum != null">
        trans_num = #{transNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>


</mapper>
